<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings file="C:\secrets\StatefulSemanticReddit\AppSettingsSecrets.config">
    <add key="OcpApimSubscriptionKey" value=""/>
    <add key="EhConnectionString" value=""/>
    <add key="StorageContainerName" value=""/>
    <add key="StorageAccountName" value=""/>
    <add key="StorageAccountKey" value=""/>
    <add key="OffsetFileName" value=""/>
  </appSettings>
</configuration>